

.header{
    font-size: 22px;
    margin: 70px 0;
    text-align: center;
}
.container{
    margin: 0 auto;
}
.blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    width: 90%;
}
.add-button{
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 100;
    padding: 10px 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif !important;
}