<div class="blog">
    <div class="header"><h1>Блог</h1></div>
    <div class="container">
      <div class="blog-posts">
        <!-- С помощью *ngFor проходим по массиву posts и рендерим <app-post> компонент для каждого объекта в массиве posts -->
        <!-- Передаем компоненту параметры title, content -->
        <app-post *ngFor="let post of posts" [title]="post.title" [content]="post.content"></app-post>
      </div>
    </div>
    <button routerLink="/editor" class="add-button" (click)="resetCurrentPost()">+Добавить</button>
</div>
  